	h1 {
	 	color: red;
	 	font-style: italic;
	 }
	 li {
	 	color: blue;
	 	font-size: 20px;
	 	font-weight: bold;
	 }
	 .blue {
	 	color:blue;
	 }
	 article, #orange {
	 	color:orange;
	 }
	 p.italic:hover {
	 	font-style: italic;
	 	color: red;
	 }
	 div.italic {
	 	font-style:italic;
	 	color: blue;
	 }

	 article p {
	 	color: green;
	 	font-weight: bold;
	 }
	 .blue.background {
	 	background-color: yellow;
	 	font-weight: bolder;
	 	font-size: 20px;
	 }
	 a:link, a:visited {
	 	text-decoration: none;
	 	background-color: yellow;
	 	display:block;
	 	width:200px;
	 	text-align: center;
	 	border: gray;
	 }
	 a:active, a:hover {
	 	background-color: red;
	    color: blue;
	 }